@import "./anim.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #121212;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    border-radius: 20px;
    background: #1DB954;
    border: solid 1px #1DB954;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .25s ease-in, transform 80ms ease-in;
}
button:hover{
    background: white;
    color: #1DB954;
}
button:focus{
    outline: none;
}

/* States
############################*/
.visible{
    opacity: 1!important;
}
.invisible{
    opacity: 0!important;
}
.reveal{
    transform: translate(-100%,0);
}

/* Waiting room Users 
############################*/
#waiting_room{
    background: #515151;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    max-height: 600px;
    border-bottom: 10px #1DB954 solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    position: relative;
}
#waiting_room button#ready{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#waiting_room .wrapper{
    width: 100%;
    height: 100%;
}
#waiting_room .wrapper li{
    display: flex;
    align-items: center;
    opacity: .5;
    padding: 10px;
    border-bottom: solid #B3B3B3 1px;
}
#waiting_room .wrapper li img{
    width: 80px;
    border-radius: 50%;
}
#waiting_room .wrapper li h2{
    margin-left: 20px;
}


/* Currently Online Users 
############################*/

ul#users{
    background: #212121;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    min-height: 300px;
    max-height: 450px;
    width: 240px;
    overflow-y: scroll;
    border-bottom:#535353 10px solid;
}
ul#users li{
    width: 80%;
    margin:20px auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #535353 1px solid;
    padding: 5px;
}
ul#users li img{
    border-radius: 50%;
    width: 50px
}
ul#users li h2{
    font-size: 16px;
    font-weight: 100;
    margin-left: 10px
}
.userSelf{
    background: #1DB954;
}
/* Main styling 
###########################*/
main{
    width: 600px;
    height: 300px;
    background: #535353;
    overflow: hidden;
    display: flex;
    position: relative;
}
main div{
    width: 50%;
}
main #media{
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    left: 0;
    bottom: 0;
}
main #time_is_up{
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.75);
    color: white;
    opacity: 0;
    transition: 3s;
}

main #time_is_up p{
    transform: translate(0,200px);
}
main #time_is_up h2{
    font-family: 'Press Start 2P', cursive;
}
main svg{
    width: 50%;
    background: #B3B3B3;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 2000;
    transition: 2s;
}
main svg#Face{
    z-index: 3000;
}
main .track_reveal-container{
    position: relative;
}
main .track_reveal-container img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

main .track-reveal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    position: relative;
    color: white;
}
main .track-reveal p{
    color: #1DB954;
}
main .track-reveal h2,
main .track-reveal p{
    background: rgba(0,0,0,0.6);
    padding: 3px 10px;
}
main .track_guess{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .track_guess h2:first-of-type{
    width: 100%;
    text-align: center;
    color: #1DB954;
    position: absolute;
    top: 5px;
    font-size: 20px;
    font-weight: 100;
}
main .track_guess svg{
    left: 0;
    background: transparent;
    margin: auto;
}
main .track_guess .readyMsg{
    width: 13px;
    z-index: 2001;
}
main .track_guess svg#play_btn_arrow #Playbutton{
    fill: #1DB954;
}
main .track_guess svg#play_btn_arrow #Playbutton.transparent{
    fill: transparent;
}
main .track_guess .audio_time{
    height: 10px;
    background: #1DB954;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
}
/* States */

/* Form styling 
###########################*/
form{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}
form .answer-container{
    display: flex;
    align-items: center;
}
form .answer-container div h2{
    text-align: center;
    font-weight: 100;
}
form .answer-container div input[type='text']{
    background: white;
    border: none;
    padding: 5px 10px;
    border-bottom: #1DB954 solid 5px;
    width: 200px;
}
form .answer-container p{
    color: #1DB954;
    margin-top: 10px;
    font-size: 100px;
    font-weight: 500;
}
form .answer-container div input[type='text']:focus{
    outline: none;

}
/* SVG Styling
#########################*/
svg .black{
    fill:#1d1d1b;
}
svg .white{
    fill:#fff;
}
svg .black2{
    fill:#121211;
}
svg .green{
    fill:#3ead55;
}


/* Custom Scrollbar 
#########################*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}