<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Game</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="./styles/game.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./scripts/game.js" defer></script>
</head>
<body>
    <ul id="waiting_room">
        <div class="wrapper">
            
        </div>
        <button id='ready'>im ready</button>
    </ul>
    <!-- <main class="container">
        
    </main>
    <form>
        <div class="answer-container">
            <div class="answer">
                <h2>Artist</h2>
                <input type="text">
            </div>
            <p>-</p>
            <div class="answer">
                <h2>Song</h2>
                <input type="text">
            </div>
        </div>
        <button>confirm</button>
    </form>
    <ul id="users"></ul> -->
</body>
</html>